html, body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    padding: 10px;
    background: url(img/ezgif-1-edb0e8cce9.webp);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

header {
    width: 100%;
}

.main-content {
    max-width: 430px;
    margin: auto;
}

.main-content-inline {
    display: inline-block;
}

.box {
    background-color: #282828;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    margin: auto;
    text-shadow: 2px 2px 4px #000000;
}

.box-bk {
    background:  url(img/ezgif-1-044a2ff895.webp);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image {
    width: 100%;
    border-radius: 12px;
}

.button {
    color: rgb(255, 255, 255);
    background-color: #00b900;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-shadow: none;
}

.button2 {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.button-share {
    color: rgb(255, 255, 255);
    background-color: #00b900;
    padding: 10px;
    margin: 50px;
    border-radius: 5px;
    text-decoration: none;
}

.button-footer {
    background-color: #282828;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.center {
    display: block;
    text-align: center;
}

.main-content h3 {
    margin: -13px 0px;
}
